@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Stylish', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

header {
    background-color: #35495e;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal-img {
    border-radius: 50%;
    width: 200px;
}

@media screen and (max-width: 645px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .personal-img {
        width: 150px;
    }

    footer {
        height: 70px !important;
    }

    footer > * > img {
        width: 35px !important;
    }
}

main {
    display: flex;
    flex-grow: 1;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.programming-languages-paragraph {
    padding: 10px 0 0 30px;
}

.brief-info {
    margin-left: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #35495e;
    width: auto;
    height: 100px;
}

footer > * > img {
    width: 50px;
    margin: 0 10px;
    border-radius: 25%;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1)
}

.github-icon,
.facebook-icon {
    border-radius: 50%;
}